*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: brown;
}
.card{
    width: 350px;
    min-height: 600px;
    background-color: antiquewhite;
}
.title{
    text-align: center;
}
.personals{
    width: 200px;
    min-height: 300px;
}
.people{
    width: 40px;
    min-height: 50px;
    text-align: center;
}
.peopleimg{
    width: 20px;
    height: 30px;
}
img{
    border-radius: 12px;
    height: 60px;
    width: 60px;
}