*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(127, 127, 127, 56%);
    padding: 300px 400px 500px 300px;
}
.card{
    width: 350px;
    min-height: 600px;
    background-color: antiquewhite;
    border: 3px;
    margin: auto;
    padding: auto;
}
.title{
    text-align: center;
}
.personals{
    width: 200px;
    min-height: 300px;
}
.people{
    width: 40px;
    min-height: 50px;
    text-align: center;
}
img{
    border-radius: 12px;
    height: 60px;
    width: 60px;
}